.array-container {
  position: absolute;
  left:100px;
  top: 40px;
  right: 80px;
}

.array-bar{
  width: 4px;
  background-color: turquoise;
  display: inline-block;
  margin: 0 1px;
}

.Options{
  top: 700px;
  left: 700px;
  position: absolute;
  background-color: pink;
  margin: 50px;
}
